body {
  font-family: var(--font-primary);
  font-size: var(--text-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
h1 {
  font-size: var(--text-xxxl);
  margin: var(--spacing-xl) 0;
}
h2 {
  font-size: var(--text-xxl);
  margin: var(--spacing-xl) 0;
}
h3 {
  font-size: var(--text-xl);
  margin: var(--spacing-xl) 0;
}
h3 {
  font-size: var(--text-lg);
  margin: var(--spacing-lg) 0;
}
h4 {
  font-size: var(--text-md);
  margin: var(--spacing-md) 0;
}
h5 {
  font-size: var(--text-sm);
  margin: var(--spacing-xs) 0;
}
h6 {
  font-size: var(--text-xs);
  text-transform: uppercase;
  margin: var(--spacing-xs) 0;
  font-weight: 700;
}