@import './variables';

:host {
  all: initial;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v17/va9E4kDNxMZdWfMOD5Vvl4jLazX3dA.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.p-html, .p-body {
  height: 100%;
}

.p-body {
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}


.p-container.is-editable {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 10px;
    border: 4px solid var(--color-primary);
    pointer-events: none;
    z-index: 10;
  }
}

.p-overflow {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 16px 24px;
  box-sizing: border-box;
}

.p-overflow-tools {
  display: flex;
  gap: 12px;
}

.p-overflow-tools__item,
.p-overflow__name {
  padding: 8px;
  border-radius: 4px;
  background-color: #fff;
  font-style: 14px;
  font-family: 'Fira Sans';
  height: 20px;
  display: flex;
  align-items: center;
}

.p-overflow-tools__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
}

.p-overflow__name {
  font-size: 14px;
  padding: 8px 16px;
}

.p-hover-tools {
  cursor: pointer;
  &:hover {
    outline: 1px solid var(--color-primary);
  }
}

.p-edit-tool {
  outline: 1px solid var(--color-primary);
}

.p-grid-gap {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: calc(var(--e-grid-gap-overlay-offset, 0px) * -1);
    width: var(--e-grid-gap-overlay-width, 0px);
    pointer-events: none;
    opacity: 0;
    background-color: rgba(28, 126, 214, 0.12);
    background-image: repeating-linear-gradient(
      -45deg,
      rgba(28, 126, 214, 0.16) 0,
      rgba(28, 126, 214, 0.16) 6px,
      rgba(28, 126, 214, 0.32) 6px,
      rgba(28, 126, 214, 0.32) 12px
    );
  }

  &--show::before {
    opacity: 1;
  }
}

.p-is-empty {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  &::after {
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    background-image: url('/img/dnd-icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.p-ghost {
  width: 100%;
  height: 70px !important;
  border: 2px dashed var(--color-contrast-medium);
  border-radius: 5px;
  margin: 10px 0;
  display: flex;
  padding: 0 !important;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
  background-image: none !important;
  > table,
  tr,
  td,
  div {
    display: none !important;
  }
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    content: 'Drop Here';
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-left-enter-active,
.slide-fade-right-enter-active,
.slide-fade-left-leave-active,
.slide-fade-right-leave-active {
  transition: all 0.3s ease-out;
}

.slide-fade-left-leave-active,
.slide-fade-right-leave-active {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-left-enter-from,
.slide-fade-left-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.slide-fade-right-enter-from,
.slide-fade-right-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.flip-list-move {
  transition: transform 0.5s;
}
